body {
  font-family: 'RobotoMono';
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
}
* {
  font-family: 'RobotoMono',monospace;
}